* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

main {
  margin: 0 auto;
  width: 800px;
  padding: 0 1em 1em;
  border: 5px solid rgb(110, 142, 184);
  box-shadow: 5px 5px rgb(184, 207, 226);
}

h1 {
  color: rgb(95, 95, 143);
  margin: 15px;
}

label {
  display: inline-block;
  text-align: right;
  width: 15em;
  padding-bottom: 0.5em;
}

input {
  width: 12em;
  margin-right: 5em;
  margin-bottom: 0.5em;
}

#mpg {
  background-color: rgb(238, 238, 238);
}

span {
  color: red;
  font-size: 14px;
}
